/*修改顶部高度*/
.header .layui-nav-child, .layui-body, .layui-layout-admin .layui-side, .header .layui-nav-bar {
    top: 50px !important;
  }
  /*样式改变的过渡*/
  .layui-body, .layui-footer, .layui-layout-admin .layui-side, .logo, .topLevelMenus li.layui-nav-item, .topLevelMenus li.layui-nav-item:hover {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }
  .showMenu.layui-layout-admin .layui-side {
    left: -200px;
  }
  .layui-layout-admin .layui-side {
    left: 0;
    overflow: hidden;
  }
  
  .user-photo a.img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto 10px;
  }
  
  .user-photo a.img img {
    display: block;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border: 4px solid #44576b;
    box-sizing: border-box;
  }
  
  .user-photo p {
    display: block;
    width: 100%;
    height: 25px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    white-space: nowrap;
    line-height: 25px;
    overflow: hidden;
  }
  .login_face img {
    width: 100%;
  }